.navigation {
    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        // sm
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
        // md
        // flex-direction: row;
        // gap: 3rem;
    }

    &___item {
        margin-left: 20px;
    }

    &__link:link,
    &__link:visited {
        color: $color-light;
        text-decoration: none;
        font-size: $default-font-size;
        font-weight: $font-weight-bold;
        letter-spacing: $default-letter-spacing;
        text-transform: uppercase;
        transition: color $animation-speed ease-in-out;
        position: relative;
        padding-bottom: 5px;

        &:hover,
        &:active,
        &:focus {
            color: $color-primary;
        }
    }

    .active {
        color: #c35007;
    }

    .active:before {
        content: '';
        position: absolute;
        width: 70%;
        height: 1px;
        bottom: 0;
        left: 0%;
        border-bottom: 2px solid #c35007;
    }
}
