.container {
    margin: 0 auto;
    max-width: 96rem; // 960px
    width: 100%;
    padding-left: $spacing-md;
    padding-right: $spacing-md;
}

.text-center {
    text-align: center;
}

.margin-t-lg {
    margin-top: 12.8rem;
}

.margin-b-lg {
    margin-bottom: 12.8rem;
}

.padding-tb-lg {
    padding-top: 12.8rem;
    padding-bottom: 12.8rem;
}
