.categories {
    .container {
        display: flex;
        flex-direction: column;
        gap: 8rem;
        list-style-type: none;

        // for tablet and above ⬇️
        // gap: $spacing-sm;
        @include respond(tablet) {
            flex-direction: row;
            gap: $spacing-sm;
        }

        @include respond(desktop) {
            gap: 3rem;
        }
    }

    &__li {
        flex: 1;
    }

    &__link {
        text-decoration: none;
    }

    &__category {
        background-color: $color-gray-light;
        position: relative;
        padding-top: 8.8rem;
        border-radius: $border-radius;
    }

    &__image {
        position: absolute;
        top: -35%;
        left: 50%;
        transform: translateX(-50%);
        width: 13.8rem;
        height: 13.3rem;

        &--3 {
            top: -30%;
            width: 16rem;
            height: 14rem;
        }
    }

    &__heading {
        text-align: center;
        margin-bottom: 0;
    }

    &__cta {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        padding-bottom: 1rem;
        color: $color-dark-light;
    }

    &__cta-text {
        margin-right: 1.2rem;
        transition: all $animation-speed;
    }

    &__cta-icon {
        transition: all $animation-speed;
    }

    &__link--1:hover &__cta-text {
        color: $color-primary;
    }

    &__link--1:hover &__cta-icon {
        transform: translateX(1rem);
    }

    &__link--2:hover &__cta-text {
        color: $color-primary;
    }

    &__link--2:hover &__cta-icon {
        transform: translateX(1rem);
    }
}
