.about {
    &__container {
        display: flex;
        flex-direction: column;
        gap: $spacing-md;

        @include respond(desktop) {
            flex-direction: row-reverse;
            align-items: center;
        }
    }

    &__text-container {
        text-align: center;
    }

    &__image {
        border-radius: $border-radius;
        max-width: 100%;

        @include respond(desktop) {
            max-width: none;
        }
    }

    &__heading {
        margin-bottom: 3rem;

        @include respond(tablet) {
            font-size: 4rem;
            margin: 0 5.7rem 4rem 5.7rem;
        }

        @include respond(desktop) {
            text-align: left;
            margin: 0 0 4rem 0;
        }
    }

    &__paragraph {
        @include respond(tablet) {
            padding-left: 9.6rem;
            padding-right: 9.6rem;
        }

        @include respond(desktop) {
            padding: 0 4.8rem 0 0;
            text-align: left;
        }
    }
}
