.back-link {
    &:link,
    &:visited {
        color: $color-dark-light;
        text-decoration: none;
        font-size: $default-font-size;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}
