.feature-md-2 {
    margin-top: $spacing-md;

    @include respond(tablet) {
        margin-top: $spacing-lg;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;

        @include respond(tablet) {
            flex-direction: row;
        }

        @include respond(desktop) {
            gap: $spacing-md;
        }
    }

    &__image {
        border-radius: $border-radius;
        object-fit: cover;

        @include respond(tablet) {
            flex: 1;
            width: 0;
        }
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $spacing-md;
        padding: 4.1rem 2.4rem;
        background-color: $color-gray-light;
        border-radius: $border-radius;

        @include respond(tablet) {
            flex: 1;
            width: 0;
            padding: 0 0 0 4.1rem;
            align-items: flex-start;
        }

        @include respond(desktop) {
            padding: 0 0 0 9.5rem;
        }
    }
}
