// COLORS

$color-primary: #c35007;
$color-primary-light: #e3681b;
$color-primary-disabled: #d87d4a80;

$color-secondary: #191919;
$color-secondary-light: #4d4d4d;

$color-gray-dark: #ffffff80;
$color-gray-light: #eee;

$color-dark: #191919;
$color-dark-light: #727575;
$color-dark-lighter: #8e9292;
$color-light: #fafafa;

// FONT
$default-font-size: 1.6rem;

$default-line-height: 1.5;

$default-letter-spacing: 1px;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;

// ANIMATIONS
$animation-speed: 0.3s;

// BORDER
$border-radius: 0.8rem;

// SPACING
$spacing-sm: 1.2rem;
$spacing-md: 2.4rem;
$spacing-lg: 4.8rem;
$spacing-xl: 8.5rem;
