.hero {
    background-image: url(/src/assets/images/home/mobile/image-header.jpg);

    // background-size: 100% auto;
    background-size: contain;
    // background-size: auto 100%;          for tablet
    background-repeat: no-repeat;
    background-position: center;
    background-color: $color-secondary;

    @include respond(tablet) {
        background-image: url(/src/assets/images/home/tablet/image-header.jpg);
        background-size: auto 100%;
    }

    @include respond(desktop) {
        background-image: url(/src/assets/images/home/desktop/image-hero.jpg);
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        @include respond(desktop) {
            align-items: flex-start;
        }
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include respond(desktop) {
            align-items: flex-start;
        }
    }

    &__main-heading {
        max-width: 55.2rem;
        text-align: center;

        @include respond(desktop) {
            text-align: left;
        }
    }

    &__paragraph {
        text-align: center;
        margin-bottom: 5rem;
        max-width: 30rem;
        // padding-left: 15rem;
        // padding-right: 15rem;

        @include respond(desktop) {
            text-align: left;
        }
    }
}
