.order-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
        0,
        0,
        0,
        0.5
    ); /* Dark background with transparency */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding-top: 6rem;
    padding-left: $spacing-md;
    padding-right: $spacing-md;

    &__container {
        background-color: $color-light;
        padding: 3.2rem;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__check-img {
        margin-bottom: 2.4rem;
    }

    &__text {
        margin: 1.4rem 0 2.4rem 0;
    }

    &__order-info-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: $border-radius;

        @include respond(tablet) {
            flex-direction: row;
        }
    }

    &__products-container {
        background-color: $color-gray-light;
        padding: 2.4rem 2.4rem 0 2.4rem;
        flex: 1;
    }

    &__product-container {
        display: flex;
        align-items: center;
        gap: 2.4rem;
    }

    &__product-img-container {
        width: 6.4rem;
        height: 6.4rem;
    }

    &__product-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $border-radius;
    }

    &__product-name {
        font-size: 1.5rem;
        margin: 0;
    }

    &__product-price {
        font-size: 1.4rem;
        font-weight: $font-weight-bold;
        color: $color-dark-lighter;
        margin: 0;
    }

    &__product-quantity {
        font-size: 1.5rem;
        color: $color-dark-lighter;
        margin: 0;
        margin-left: auto;
        font-weight: $font-weight-bold;
    }

    &__more-products {
        font-weight: $font-weight-normal;
        text-align: center;
    }

    &__more-products:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    &__price-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;
        padding: 2.4rem;
        background-color: $color-dark;

        @include respond(tablet) {
            justify-content: flex-end;
        }
    }

    &__price-title {
        text-transform: uppercase;
        margin: 0;
        font-weight: $font-weight-bold;
    }

    &__price {
        margin: 0;
        color: $color-light;
        font-weight: $font-weight-bold;
    }

    &__btn {
        margin-top: 2.4rem;
        width: 100%;
    }
}
